@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Bungee', cursive;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: backgroundFade 3s ease-in-out;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0); /* Removed black background */
    padding: 30px;
    border-radius: 15px;
    animation: fadeIn 2s ease-in-out;
}

.image-wrapper {
    position: relative;
    width: 80%;
    max-width: 600px;
    height: auto;
    margin-bottom: 60px; /* Increased margin to move buttons lower */
}

.title-image {
    width: 100%;
    max-width: 600px; /* Ensure image does not exceed container width */
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px; /* Added margin-top for better spacing */
}

.button {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #ff6b6b, #f8e71c); /* Gradient background */
    padding: 20px 40px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #fff; /* Added border */
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    animation: buttonFadeIn 1s ease-in-out;
}

.button:hover {
    background: linear-gradient(45deg, #f8e71c, #ff6b6b);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .title-image {
        width: 90%;
    }
    
    .button {
        padding: 15px 30px;
        font-size: 14px;
    }
    
    .button-container {
        margin-top: 40px;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes titleSlideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes buttonFadeIn {
    from { opacity: 0; transform: scale(0.5); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes backgroundFade {
    from { opacity: 0; }
    to { opacity: 1; }
}
