@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Bungee', cursive;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: backgroundFade 3s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.image-wrapper {
    position: relative;
    width: 60%; /* Reduced the size of the title */
    max-width: 400px; /* Adjusted max width */
    margin-top: 30px; /* Adjusted margin to move the title up */
}

.title-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 400px; /* Increased margin-top to move buttons lower */
}

.button {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #ff6b6b, #f8e71c);
    padding: 15px 30px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    animation: buttonFadeIn 1s ease-in-out;
}

.button:hover {
    background: linear-gradient(45deg, #f8e71c, #ff6b6b);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .image-wrapper {
        width: 90%;
        margin-top: 20px; /* Adjusted margin to move the title up for mobile */
    }

    .button-container {
        margin-top: 300px; /* Adjusted margin-top to move buttons lower for mobile */
    }

    .button {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes buttonFadeIn {
    from { opacity: 0; transform: scale(0.5); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes backgroundFade {
    from { opacity: 0; }
    to { opacity: 1; }
}
